.panel-body .btn:not(.btn-block) {
  width: 120px;
  margin-bottom: 10px;
}

.custom-title {
  font-size: 2.5em;
}

.ganancia {
  color: #1db059;
  font-weight: bold;
}

.perdida {
  color: red;
  font-weight: bold;
}

.inversion {
  color: #fecf6d;
  font-weight: bold;
}

.date-picker {
  height: 41px;
}
